230.rom
CDTV Extended-ROM v2.35 (2021)(CDTV Land)(CDTV).rom
CDTV_v2_35_U34_Even.bin
.gitignore
CDTV_v2_35_U35_Odd.bin
A570_v2_35.bin
A690_v2_35.bin
CDTV Extended-ROM v2.35 (2022)(CDTV Land)(A570).rom
CDTV Extended-ROM v2.35 (2022)(CDTV Land)(A690).rom
